*,
*:before *:after {
    box-sizing: border-box;
}

.page {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body {
    font-size: 16px;
    font-family: 'Anek Tamil', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.041);

}

ul {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 100%;
    width: 1080px;
    margin: 0 auto;
}

.row {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.center {
    justify-content: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.align-items-center {
    align-items: center;
}


/* header */

.header {

    padding: 20px;
    background-color: rgb(39, 39, 39);
    box-shadow: 5px 1px 12px 2px rgba(39, 39, 39, 0.582);
}

.logo {
    font-size: 24px;
    font-family: 'Grape Nuts', cursive;
    color: white;
    font-family: 'Rubik Moonrocks', cursive;
}

.nav {
    font-size: 16px;

}

.nav ul li {
    list-style-type: none;
}

.nav ul li + li {
    margin-left: 15px;
}

.nav .nav-link {
    text-decoration: none;
    color: white;

}

.nav .nav-link:hover {
    color: rgb(219, 217, 217);

}

/* main */

.main-content {
    margin: 25px 40px 15px 40px;
}

.main-content .title {
    font-size: 28px;
}


/* form */

.form-container {
    border: 1.5px solid rgb(134, 134, 134);
    padding: 40px;
    background-color: rgb(245, 244, 244);
    box-shadow: 5px 1px 12px 2px rgba(39, 39, 39, 0.205);
}


form .input {
    width: 400px;
    height: 24px;
    font-size: 14px;
    background-color: rgb(235, 232, 232);
    border-top: none;
    border-left: none;
    border-right: none;
    padding-left: 15px;
}

form .input-border {
    border-bottom: 1px solid black;
}

form .input:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

form .input-text {
    padding-left: 3px;
    margin-top: 8px;
    margin-bottom: 2px;
    font-size: 14px;
}


form .checkbox {
    margin-top: 15px;
    margin-bottom: 10px;
}

form .checkbox-text {
    padding-left: 5px;
}

form .btn {
    background-color: rgb(235, 232, 232);
    border-radius: 10px;
    border: 1px solid black;
    margin-top: 15px;
    padding: 8px 12px 8px 12px;
}

form .btn:hover {
    cursor: pointer;
    background-color: rgb(223, 219, 219);
}

/* errors */

.error-input {

    border-bottom: 2px solid rgb(255, 0, 0);

}


.error-msg {
    margin: 15px;
    text-align: center;
    font-size: 14px;
    color: red;
}

/* footer */
.footer {
    box-shadow: 5px 1px 12px 2px rgba(39, 39, 39, 0.521);
    margin-top: auto;
    padding: 20px;
    background-color: rgb(39, 39, 39);
}

.footer .text {
    font-size: 18px;
    color: white;
    text-align: center;
}